<article id="login">
        <img src="https://i.imgur.com/Cs2BG5f.png" />
        <h2>Find the right time. <strong>Together</strong></h2>
    <div class="home-button">
        <%= link_to 'Log In', login_path %>
    </div>
    <div class="home-button">
        <%= link_to 'Create Account', new_user_path %>
    </div>
</article>