/* CSS GRID STYLES */
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article article"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr;
  grid-gap: 5px;
  height: 100vh;
  margin: 0;
  background-color: #B5B5B5;
  font-family: ff-enzo-web, sans-serif;
  font-style: normal;
  font-weight: 300;
}

body.alt { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article nav"
    "footer footer footer" !important;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 30% 1fr 30%;
  grid-gap: 5px;
  height: 100vh;
  margin: 0;
  background-color: #113844;
  font-family: ff-enzo-web, sans-serif;
  font-style: normal;
  font-weight: 300;
}

header, footer, article, nav, div {
  padding: 20px;  
  background: white;
}

#pageHeader {
  grid-area: header;
  text-align: right;
  background-color: #113844;
  color: white;
}

#pageHeader a {
  color: #F03B3D;
}

#pageFooter {
  grid-area: footer;
  text-align: center;
  background-color: #113844;
  color: white;
}

#mainArticle { 
  grid-area: article; 
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
  "a a b"
  "a a b"
  "c d d";
}

article#login {
  grid-area: article;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#mainNav { 
  grid-area: nav;
  background-color: #113844; 
  line-height: 2.5em;
}

#mainNav h1 {
  color: #B5B5B5;
  font-weight: 900;
  text-align: center;
  letter-spacing: 7px;
  font-size: 2vw;
}

#mainNav h2 { 
  color: white;
}

#mainNav a {
  color: #F03B3D;
}

#mainNav a:hover {
  color: rgb(225, 80, 82);
}


/* GENERAL STYLES */
h1 {
  font-family: ff-enzo-web, sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
    font-family: ff-enzo-web, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 300;
}

h3 {
  font-family: ff-enzo-web, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

th {
  padding: 20px 60px;
  text-align: left;
  font-size: 30px;
}

td.events {
  text-align: center;
  font-size: 22px;
  line-height: 2em;
}

td {
  font-size: 22px;
  line-height: 2em;
  padding-right: 15px;
}

a {
    font-family: ff-enzo-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #F03B3D;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}

a:hover {
  color: rgba(240, 59, 62, 0.646)
}

.available-time {
  font-style: italic;
  font-weight: 500;
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
}

.avail-slots {
  line-height: 2em;
  font-size: 20px;
}

div.event {
  display: inline-block;
  align-items: left;
  margin: none;
  padding: none;
}

.done a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #F03B3D;
  padding: 10px;
  border-radius: 5px;
}

.done a:hover {
  background-color: rgba(240, 59, 62, 0.646);
}

.create-btn a {
  display: inline-block;
  text-decoration: none;
  color: #F03B3D;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.create-btn a:hover {
  background-color: rgba(255, 255, 255, 0.756);
}

.next-btn {
  color: white;
  height: 40px;
  width: 90px;
  background-color: #113843;
  margin: 10px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
}

.next-btn:hover {
  background-color: #1138439f;
  cursor: pointer;
}

.add-btn {
  color: white;
  height: 40px;
  background-color: #12964d;
  margin: 10px;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
}

.add-btn:hover {
  background-color: #12964dcd;
  cursor: pointer;
}

.edit a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #123843;
  padding: 10px;
  border-radius: 5px;
}

.tight {
  padding: 10px;
}

#alert {
  font-weight: 500;
  color: #F03B3D;
  margin: 0;
}

div.home-button {
  background-color: #F03B3D;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

div.home-button:hover {
  background-color: rgba(240, 59, 62, 0.646);
  cursor: pointer;
}

.home-button a {
  text-decoration: none;
  color: #F7FFF8;
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}

#welcome {
  display: flex;
  font-size: 20px;
}

.works {
  color: green;
}


/* FORM STYLES */
label {
  width: 5em;
  text-align: center;
  margin: 10px auto;
  display: inline-block;
  font-size: 20px;
}

#create-account-btn {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 150px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  height: 50px;
}

input {
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  padding: 0;
}

select {
  font-size: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100px;
  font-size: 25px;
  cursor: pointer;
}

p.selection {
  font-size: 20px;
}

p.submit {
  float: right;
}

  
/* CALENDAR STYLES */
@import "simple_calendar";

.simple-calendar {
  width: 50vw;
  .calendar-title {
    font-size: 20px;
    font-weight: 500;
  }
}

.simple-calendar .day {
  height: 80px;
  font-size: 12px;
  background-color: #113843;
  color: white;
  width: 13vw;
  height: 13vh;
}

.simple-calendar .today {
  background: #264A54;
}

.simple-calendar .next-month {
  background: #678087 !important;
  color: black;
}

.simple-calendar .prev-month {
  background: #678087 !important;
  color: black;
}

.simple-calendar th {
  padding: 6px;
  border-bottom: 2px solid #dddddd;
  border-collapse: collapse;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 0px none #333333;
  box-sizing: border-box;
  text-align: left;
  background-color: #F03B3D;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.simple-calendar .calendar-title {
  font-family: ff-enzo-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 10px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 810px) {
    h1 {
        font-size: 20px;
    }
    h2, a {
        font-size: 16px;
    }
}